* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17141f;
}

header {
  height: 50px;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  background-color: #4b367c;
}

.enclosure {
  position: relative;
  width: 40vw;
  height: 50px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  /*border: 2px solid yellow;*/ /*SWITCH*/
}

h1 {
  display: inline;
  font-size: 30px;
}

nav {
  position: relative;
  width: 40vw;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  background-color: #17141f;
}

.select-container {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 80px;
  float: right;

  /*border: 2px solid yellow;*/  /*SWITCH*/
}

.select-container select {
  border: none;
  color: #ffffff;
  background-color: #17141f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.arrow-down {
  position: absolute;
  right: 5px;
  top: 7px;
  height: 0px;
  width: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
}

section.streamers {
  width: 40vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
}

article {
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  display: block;
  /*border: 2px solid blue;*/ /*SWITCH*/
}

img {
  float: left;
  width: 50px;
}

.site_name {
  font-weight: bold;
  padding-left: 30px;
  vertical-align: -15px;
}

.site_status {
  font-style: italic;
  padding-left: 30px;
  vertical-align: -15px;
}

article:hover {
  cursor: pointer;
  background-color: lightblue;
}

.status {
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*background-color: #ff0000;*/
  border: 1px solid #000000;
}
